h1 {   color: #e109c0;
    font-family: Arial, sans-serif;
}
p {color: #1fe00d;
    font-family: Arial, sans-serif;}
  section   
section{color: rgba(252, 99, 4, 0.267);
    font-family: bisque;
}
section ul {
    color: rgba(252, 99, 4, 0.267);
    font-family: bisque;
    font-size: 19px;
    margin: 9px 0;
    padding: 5px;
    border: 6px solid #cee679;
}