h1 {   color: #000000;
    font-family: Arial, sans-serif;
}
p {color: #1fe00d;
    font-family: Arial, sans-serif;}
  section   
section{color: rgba(255, 98, 0, 0.267);
    font-family: bisque;
}
section ul {
    color: rgb(255, 4, 4);
    font-family: bisque;
    font-size: 19px;
    margin: 9px 0;
    padding: 5px;
    border: 6px solid #cee679;
}